<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.instagram.lite" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.twitter.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="in.mohalla.video" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.ss.android.ugc.tiktok.lite" />
        <package android:name="com.android.chrome" />
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.brave.browser" />
        <package android:name="com.microsoft.emmx" />
        <package android:name="com.opera.browser" />
        <package android:name="com.opera.mini.native" />
        <package android:name="com.duckduckgo.mobile.android" />
        <package android:name="com.vivaldi.browser" />
        <package android:name="com.UCMobile.intl" />
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- while a quote is on screen the app runs in the foreground, so Android lets it draw and play sound -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PauseService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <service
            android:name=".ViraamService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/interlude_service" />
        </service>
    </application>
</manifest>
